<div class="container">
  <div class="text-center" >
    <span class="font-bold text-20 " >Add User</span>

  </div>
  <hr>
  <div class="mt-4">
    <form [formGroup]="userForm">
      <div class="row">
        <div class="col-md-6" >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Enter Your Name" formControlName="name" [class.is-invalid]="userForm.get('name').invalid && userForm.get('name').touched" />
          </div>
          <span class="text-danger font-16" *ngIf="formSubmitFlag && userForm.get('name').invalid">Name is required</span>
        </div>
        <div class="col-md-6" >
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-envelope"></i>
            </span>
            <input pInputText placeholder="Enter Your Email Id" formControlName="email" [class.is-invalid]="userForm.get('email').invalid && userForm.get('email').touched" />
          </div>
          <span class="text-danger font-16" *ngIf="formSubmitFlag &&  userForm.get('email').invalid">Check your email id</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2" >
          <p-dropdown [options]="dateOptions" [class.invalid]="dateError" formControlName="date" optionValue="date" optionLabel="date" placeholder="Select a Date"></p-dropdown>
        </div>
        <div class="col-md-4" >
          <p-dropdown [options]="monthOptions" [class.invalid]="dateError"  formControlName="month" optionValue="label" style="width: 100%" optionLabel="label" placeholder="Select a Month"></p-dropdown>
        </div>
        <div class="col-md-4" >
          <p-dropdown [options]="yearOption" [class.invalid]="dateError"  formControlName="year" optionValue="year" optionLabel="year" placeholder="Select a Year"></p-dropdown>
        </div>
      </div>
      <span class="text-danger font-16" *ngIf="formSubmitFlag">
        <span *ngIf="userForm.get('date').invalid || userForm.get('month').invalid || userForm.get('year').invalid">Date is required</span>
      </span>

      <div class="row mt-4" formArrayName="Addresses">
        <div class="row" *ngFor="let eachField of AddressesControl().controls; let i=index">
            <div class="col-md-3" [formGroupName]="i">
              <input pInputText placeholder="Enter Your Address 1" style="width: 100%" formControlName="address_line_1" />
            </div>
            <div class="col-md-3" [formGroupName]="i">
              <input pInputText placeholder="Enter Your Address 2" style="width: 100%" formControlName="address_line_2" />
            </div>
            <div class="col-md-3" [formGroupName]="i">
              <input pInputText placeholder="Enter Your City" style="width: 100%" formControlName="city" />
            </div>
            <div class="col-md-3" [formGroupName]="i">
              <input pInputText placeholder="Enter Your State" style="width: 100%" formControlName="state" />
            </div>
            <div class="col-md-3 mt-4" [formGroupName]="i">
              <input pInputText placeholder="Enter Your Country" style="width: 100%" formControlName="country" />
            </div>
        </div>
      </div>

    </form>
    <div class="mt-4" *ngIf="errorMsg.length > 0" >
      <span class="text-danger" *ngFor="let eachError of errorMsg">
        <li>{{eachError}}</li>
      </span>
    </div>
    <div class="mt-4" *ngIf="successmsg" >
      <span class="text-success" >{{successmsg}}</span>
    </div>
    <div class="mt-4" >
      <button pButton pRipple label="Submit" (click)="addUser()" class="p-button-success"></button>
    </div>
  </div>

</div>
